<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.pms.project.dal.mysql.projectmanual.ProjectOrganizationClearMapper">
  <sql id="references">
    tenant_id=#{tenantId} AND (
      <choose><when test="companyIds != null and !companyIds.isEmpty()">
        company_id IN <foreach collection="companyIds" item="id" open="(" separator="," close=")">#{id}</foreach>
      </when><otherwise>1=0</otherwise></choose>
      OR
      <choose><when test="departmentIds != null and !departmentIds.isEmpty()">
        department_id IN <foreach collection="departmentIds" item="id" open="(" separator="," close=")">#{id}</foreach>
      </when><otherwise>1=0</otherwise></choose>
    )
  </sql>
  <select id="selectReferenceCount" resultType="long">
    SELECT (SELECT COUNT(*) FROM proj_project WHERE <include refid="references" />)
      +(SELECT COUNT(*) FROM proj_project_company_department_relation WHERE <include refid="references" />)
      +(SELECT COUNT(*) FROM proj_project_member_assignment WHERE <include refid="references" />)
  </select>
</mapper>
