<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.pms.project.dal.mysql.projectmanual.ProjectGateInstanceMapper">

    <select id="selectByCodeForUpdate"
            resultType="cn.iocoder.yudao.module.pms.project.dal.dataobject.projectmanual.ProjectGateInstanceDO">
        SELECT *
        FROM proj_project_gate
        WHERE tenant_id = #{query.tenantId}
          AND project_id = #{query.projectId}
          AND gate_code = #{query.gateCode}
          AND deleted = b'0'
        FOR UPDATE
    </select>

    <sql id="exitGates">
        SELECT * FROM proj_project_gate
        WHERE tenant_id = #{query.tenantId} AND project_id = #{query.projectId}
          AND stage_code = #{query.stageCode} AND gate_type = 'EXIT' AND deleted = b'0'
        ORDER BY id
    </sql>

    <select id="selectExitGates" resultType="cn.iocoder.yudao.module.pms.project.dal.dataobject.projectmanual.ProjectGateInstanceDO">
        <include refid="exitGates"/>
    </select>

    <select id="selectExitGatesForUpdate" resultType="cn.iocoder.yudao.module.pms.project.dal.dataobject.projectmanual.ProjectGateInstanceDO">
        <include refid="exitGates"/>
        FOR UPDATE
    </select>

    <update id="updateStatusIfMatch">
        UPDATE proj_project_gate
        SET status = #{query.targetStatus}, version = version + 1,
            updater = #{query.updater}, update_time = CURRENT_TIMESTAMP
        WHERE tenant_id = #{query.tenantId} AND id = #{query.gateId}
          AND version = #{query.expectedVersion} AND status = #{query.expectedStatus} AND deleted = b'0'
    </update>

</mapper>
