<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.pms.project.dal.mysql.acceptancereport.ProjectDeliverableSourceVersionMapper">

    <select id="selectCurrentForUpdate"
            resultType="cn.iocoder.yudao.module.pms.project.dal.dataobject.acceptancereport.ProjectDeliverableSourceVersionDO">
        SELECT *
        FROM acc_project_deliverable_source_version
        WHERE tenant_id = #{query.tenantId}
          AND deliverable_id = #{query.deliverableId}
          AND relation_status = 'CURRENT'
          AND deleted = b'0'
        FOR UPDATE
    </select>

    <select id="selectIdentityForUpdate"
            resultType="cn.iocoder.yudao.module.pms.project.dal.dataobject.acceptancereport.ProjectDeliverableSourceVersionDO">
        SELECT *
        FROM acc_project_deliverable_source_version
        WHERE tenant_id = #{query.tenantId}
          AND deliverable_id = #{query.deliverableId}
          AND source_object_type = 'AcceptanceReportVersion'
          AND source_object_id = #{query.sourceObjectId}
          AND source_version = #{query.sourceVersion}
          AND deleted = b'0'
        FOR UPDATE
    </select>

    <select id="selectByIdForUpdate"
            resultType="cn.iocoder.yudao.module.pms.project.dal.dataobject.acceptancereport.ProjectDeliverableSourceVersionDO">
        SELECT *
        FROM acc_project_deliverable_source_version
        WHERE tenant_id = #{query.tenantId}
          AND id = #{query.sourceVersionId}
          AND deleted = b'0'
        FOR UPDATE
    </select>

    <select id="selectSourceObjectIdentityForUpdate"
            resultType="cn.iocoder.yudao.module.pms.project.dal.dataobject.acceptancereport.ProjectDeliverableSourceVersionDO">
        SELECT *
        FROM acc_project_deliverable_source_version
        WHERE tenant_id = #{query.tenantId}
          AND deliverable_id = #{query.deliverableId}
          AND source_object_type = #{query.sourceObjectType}
          AND source_object_id = #{query.sourceObjectId}
          AND source_version = #{query.sourceVersion}
          AND deleted = b'0'
        FOR UPDATE
    </select>

    <select id="selectPendingArchive"
            resultType="cn.iocoder.yudao.module.pms.project.dal.dataobject.acceptancereport.ProjectDeliverableSourceVersionDO">
        SELECT *
        FROM acc_project_deliverable_source_version
        WHERE tenant_id = #{query.tenantId}
          AND relation_status IN ('CURRENT', 'SUPERSEDED')
          AND archive_status = 'PENDING_COMPENSATION'
          AND deleted = b'0'
        ORDER BY id
        LIMIT #{query.limit}
    </select>

</mapper>
