<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.pms.project.dal.mysql.satisfaction.SatisfactionCollectionTaskMapper">
    <select id="selectByTriggerForUpdate"
            resultType="cn.iocoder.yudao.module.pms.project.dal.dataobject.satisfaction.SatisfactionCollectionTaskDO">
        SELECT *
        FROM acc_satisfaction_collection_task
        WHERE tenant_id = #{query.tenantId}
          AND project_task_id = #{query.projectTaskId}
          AND trigger_owner_context = #{query.triggerOwnerContext}
          AND trigger_object_type = #{query.triggerObjectType}
          AND trigger_fact_id = #{query.triggerFactId}
          AND trigger_fact_version = #{query.triggerFactVersion}
          AND deleted = b'0'
        FOR UPDATE
    </select>
    <select id="selectByIdForUpdate"
            resultType="cn.iocoder.yudao.module.pms.project.dal.dataobject.satisfaction.SatisfactionCollectionTaskDO">
        SELECT * FROM acc_satisfaction_collection_task
         WHERE tenant_id=#{tenantId} AND id=#{id} AND deleted=b'0' FOR UPDATE
    </select>
    <update id="moveToPendingDecision">
        UPDATE acc_satisfaction_collection_task
           SET task_status='PENDING_DECISION', version=version+1,
               updater=#{query.updater}, update_time=NOW(3)
         WHERE tenant_id=#{query.tenantId} AND id=#{query.taskId}
           AND task_status IN ('PENDING_COLLECTION','ASSIGNED') AND version=#{query.expectedVersion}
    </update>
</mapper>
