<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.pms.cutover.dal.mysql.approval.CutoverApprovalInstanceMapper">
    <select id="selectByTaskAndPlanForUpdate"
            resultType="cn.iocoder.yudao.module.pms.cutover.dal.dataobject.approval.CutoverApprovalInstanceDO">
        SELECT * FROM cut_approval_instance
        WHERE tenant_id = #{query.tenantId}
          AND task_id = #{query.taskId}
          AND plan_revision_id = #{query.planRevisionId}
          AND deleted = b'0'
        FOR UPDATE
    </select>
    <select id="selectByIdForUpdate"
            resultType="cn.iocoder.yudao.module.pms.cutover.dal.dataobject.approval.CutoverApprovalInstanceDO">
        SELECT * FROM cut_approval_instance
        WHERE tenant_id = #{query.tenantId}
          AND id = #{query.approvalInstanceId}
          AND deleted = b'0'
        FOR UPDATE
    </select>
    <select id="selectCurrentByTask"
            resultType="cn.iocoder.yudao.module.pms.cutover.dal.dataobject.approval.CutoverApprovalInstanceDO">
        SELECT * FROM cut_approval_instance
        WHERE tenant_id = #{query.tenantId}
          AND task_id = #{query.taskId}
          AND replacement_approval_instance_id IS NULL
          AND deleted = b'0'
        ORDER BY id DESC
        LIMIT 1
    </select>
    <update id="updateAfterReassignmentIfMatch">
        UPDATE cut_approval_instance
        SET hold_reason_code = #{query.holdReasonCode},
            version = #{query.expectedVersion} + 1,
            updater = #{query.updater},
            update_time = #{query.updateTime}
        WHERE tenant_id = #{query.tenantId}
          AND id = #{query.approvalInstanceId}
          AND status_code = 'PENDING'
          AND version = #{query.expectedVersion}
          AND deleted = b'0'
    </update>
    <update id="updateStateIfMatch">
        UPDATE cut_approval_instance
        SET status_code = #{query.statusCode},
            current_node_no = #{query.currentNodeNo},
            decision_at = #{query.decisionAt},
            rejection_reason = #{query.rejectionReason},
            replacement_approval_instance_id = #{query.replacementApprovalInstanceId},
            hold_reason_code = #{query.holdReasonCode},
            version = #{query.expectedVersion} + 1,
            updater = #{query.updater},
            update_time = #{query.updateTime}
        WHERE tenant_id = #{query.tenantId}
          AND id = #{query.approvalInstanceId}
          AND version = #{query.expectedVersion}
          AND deleted = b'0'
    </update>
</mapper>
