<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.pms.asset.dal.mysql.location.DeviceLocationMapper">

    <update id="closeCurrent">
        UPDATE ast_device_location
        SET effective_to = #{effectiveAt},
            version = version + 1
        WHERE tenant_id = #{tenantId}
          AND device_sn = #{deviceSn}
          AND effective_to IS NULL
          AND deleted = b'0'
    </update>

</mapper>
