<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.pms.asset.dal.mysql.producttype.AssetProductTypeMapper">

    <select id="selectByCodesInternal"
            resultType="cn.iocoder.yudao.module.pms.asset.dal.dataobject.producttype.AssetProductTypeDO">
        SELECT id,
               type_code,
               display_name,
               enabled,
               source_system,
               source_key,
               source_version,
               source_updated_at,
               payload_hash,
               sync_status,
               last_sync_attempt_at,
               synced_at,
               version,
               creator,
               create_time,
               updater,
               update_time,
               deleted,
               tenant_id
        FROM ast_product_type
        WHERE tenant_id = #{query.tenantId}
          AND deleted = b'0'
          AND type_code IN
          <foreach collection="query.productTypeCodes" item="productTypeCode" open="(" separator="," close=")">
            #{productTypeCode}
          </foreach>
        ORDER BY id
    </select>

    <select id="selectByCodeForUpdate"
            resultType="cn.iocoder.yudao.module.pms.asset.dal.dataobject.producttype.AssetProductTypeDO">
        SELECT id,
               type_code,
               display_name,
               enabled,
               source_system,
               source_key,
               source_version,
               source_updated_at,
               payload_hash,
               sync_status,
               last_sync_attempt_at,
               synced_at,
               version,
               creator,
               create_time,
               updater,
               update_time,
               deleted,
               tenant_id
        FROM ast_product_type
        WHERE tenant_id = #{query.tenantId}
          AND type_code = #{query.productTypeCode}
        FOR UPDATE
    </select>

</mapper>
