<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.pms.cutover.dal.mysql.taskv2.CutoverTaskDeviceScopeMapper">
    <select id="selectActiveByTask" resultType="cn.iocoder.yudao.module.pms.cutover.dal.dataobject.taskv2.CutoverTaskDeviceScopeDO">
        SELECT *
        FROM cut_task_device_scope
        WHERE tenant_id = #{query.tenantId}
          AND cutover_task_id = #{query.taskId}
          AND active_marker = 1
          AND deleted = b'0'
        ORDER BY device_id ASC
    </select>

    <select id="selectActiveForUpdate" resultType="cn.iocoder.yudao.module.pms.cutover.dal.dataobject.taskv2.CutoverTaskDeviceScopeDO">
        SELECT *
        FROM cut_task_device_scope
        WHERE tenant_id = #{query.tenantId}
          AND project_id = #{query.projectId}
          AND active_marker = 1
          AND deleted = b'0'
          AND device_id IN
          <foreach collection="query.deviceIds" item="deviceId" open="(" separator="," close=")">
              #{deviceId}
          </foreach>
        ORDER BY device_id ASC
        FOR UPDATE
    </select>

    <select id="selectActiveByTaskForUpdate" resultType="cn.iocoder.yudao.module.pms.cutover.dal.dataobject.taskv2.CutoverTaskDeviceScopeDO">
        SELECT *
        FROM cut_task_device_scope
        WHERE tenant_id = #{query.tenantId}
          AND cutover_task_id = #{query.taskId}
          AND active_marker = 1
          AND deleted = b'0'
        ORDER BY device_id ASC
        FOR UPDATE
    </select>

    <update id="releaseActiveByTask">
        UPDATE cut_task_device_scope
        SET active_marker = NULL, version = version + 1, update_time = NOW(3)
        WHERE tenant_id = #{query.tenantId}
          AND cutover_task_id = #{query.taskId}
          AND active_marker = 1
          AND deleted = b'0'
    </update>
</mapper>
