<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.pms.cutover.dal.mysql.taskv2.migration.LegacyCutoverReconciliationMapper">
    <select id="selectSourceForUpdate"
            resultType="cn.iocoder.yudao.module.pms.cutover.dal.dataobject.task.CutTaskDO">
        SELECT *
        FROM pms_cut_task
        WHERE tenant_id = #{query.tenantId}
          AND id = #{query.legacyTaskId}
        FOR UPDATE
    </select>

    <select id="countTargetIdentityConflicts" resultType="long">
        SELECT COUNT(1)
        FROM cut_task
        WHERE tenant_id = #{query.tenantId}
          AND deleted = b'0'
          AND ((project_id = #{query.projectId} AND task_no = #{query.taskNo})
            OR legacy_task_id = #{query.legacyTaskId})
    </select>
</mapper>
