<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.pms.platform.dal.mysql.migration.ExternalKeyMappingMapper">
    <insert id="insertRows">
        INSERT INTO plt_external_key_mapping
        (id,tenant_id,batch_id,source_record_id,result_type,target_context,target_object_type,target_table,
         target_id,target_role,target_sequence,creator,updater,create_time,update_time,deleted)
        VALUES
        <foreach collection="rows" item="r" separator=",">
            (#{r.id},#{r.tenantId},#{r.batchId},#{r.sourceRecordId},#{r.resultType},#{r.targetContext},#{r.targetObjectType},#{r.targetTable},
             #{r.targetId},#{r.targetRole},#{r.targetSequence},#{r.creator},#{r.updater},#{r.createTime},#{r.updateTime},FALSE)
        </foreach>
    </insert>
</mapper>
