<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.pms.commerce.dal.mysql.authority.ContractAuthorityMapper">
    <select id="selectBySourceForUpdate" resultType="cn.iocoder.yudao.module.pms.commerce.dal.dataobject.contract.ContractDO">
        SELECT * FROM com_contract
        WHERE tenant_id = #{tenantId} AND master_source_system = #{sourceSystem}
          AND master_source_record_key = #{sourceKey} AND deleted = b'0'
        FOR UPDATE
    </select>
    <update id="updateOwnerByVersion">
        UPDATE com_contract
        SET company_code = #{row.companyCode}, contract_no = #{row.contractNo},
            contract_name = #{row.contractName},
            customer_code = #{row.customerCode}, customer_name = #{row.customerName},
            contract_amount = #{row.contractAmount}, currency_code = #{row.currencyCode},
            authority_status = #{row.authorityStatus}, source_lifecycle_status = #{row.sourceLifecycleStatus},
            master_source_version = #{row.sourceVersion}, source_updated_at = #{row.sourceUpdatedAt},
            source_sync_time = #{row.syncedAt}, status = #{row.status}, version = version + 1,
            updater = #{row.updater}, update_time = #{row.updateTime}
        WHERE tenant_id = #{tenantId} AND id = #{row.id} AND version = #{expectedVersion} AND deleted = b'0'
    </update>
</mapper>
