<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.pms.cutover.dal.mysql.closure.CutoverClosureMapper">
    <select id="selectByTask" resultType="cn.iocoder.yudao.module.pms.cutover.dal.dataobject.closure.CutoverClosureDO">
        SELECT * FROM cut_cutover_closure
        WHERE tenant_id = #{query.tenantId} AND task_id = #{query.taskId} AND deleted = b'0'
    </select>
    <select id="selectByTaskForUpdate" resultType="cn.iocoder.yudao.module.pms.cutover.dal.dataobject.closure.CutoverClosureDO">
        SELECT * FROM cut_cutover_closure
        WHERE tenant_id = #{query.tenantId} AND task_id = #{query.taskId} AND deleted = b'0'
        FOR UPDATE
    </select>
    <update id="updateDraftIfMatch">
        UPDATE cut_cutover_closure
        SET pre_check_normal = #{query.preCheckNormal}, pre_check_detail = #{query.preCheckDetail},
            execution_normal = #{query.executionNormal}, execution_detail = #{query.executionDetail},
            test_normal = #{query.testNormal}, test_detail = #{query.testDetail},
            rollback_occurred = #{query.rollbackOccurred}, rollback_successful = #{query.rollbackSuccessful},
            rollback_reason = #{query.rollbackReason}, legacy_items = #{query.legacyItems},
            version = version + 1,
            updater = #{query.updater}, update_time = #{query.updateTime}
        WHERE tenant_id = #{query.tenantId} AND id = #{query.closureId}
          AND version = #{query.expectedVersion} AND status_code = 'DRAFT' AND deleted = b'0'
    </update>
    <update id="submitIfMatch">
        UPDATE cut_cutover_closure
        SET status_code = 'SUBMITTED', final_result_code = #{query.finalResultCode},
            result_ref = #{query.resultRef}, submitted_by = #{query.submittedBy},
            submitted_at = #{query.submittedAt}, archived_at = #{query.submittedAt},
            version = version + 1, update_time = NOW(3)
        WHERE tenant_id = #{query.tenantId} AND id = #{query.closureId}
          AND version = #{query.expectedVersion} AND status_code = 'DRAFT' AND deleted = b'0'
    </update>
    <update id="advanceDraftVersionIfMatch">
        UPDATE cut_cutover_closure
        SET version = version + 1, updater = #{query.updater}, update_time = #{query.updateTime}
        WHERE tenant_id = #{query.tenantId} AND id = #{query.closureId}
          AND version = #{query.expectedVersion} AND status_code = 'DRAFT' AND deleted = b'0'
    </update>
</mapper>
