<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.pms.cutover.dal.mysql.planv2.CutoverPlanRevisionMapper">
    <select id="selectCurrent" resultType="cn.iocoder.yudao.module.pms.cutover.dal.dataobject.planv2.CutoverPlanRevisionDO">
        SELECT * FROM cut_plan_revision
        WHERE tenant_id = #{query.tenantId} AND cutover_task_id = #{query.taskId}
          AND current_marker = 1 AND deleted = b'0'
        <if test="query.planRevisionId != null">AND id = #{query.planRevisionId}</if>
    </select>
    <select id="selectListLegacyByTask" resultType="cn.iocoder.yudao.module.pms.cutover.dal.dataobject.planv2.CutoverPlanRevisionDO">
        SELECT * FROM cut_plan_revision
        WHERE tenant_id = #{query.tenantId} AND cutover_task_id = #{query.taskId}
          AND origin_code = 'LEGACY_FORWARD' AND current_marker IS NULL AND deleted = b'0'
        <if test="query.planRevisionId != null">AND id = #{query.planRevisionId}</if>
        ORDER BY revision_no ASC, legacy_plan_id ASC, id ASC
        LIMIT 2
    </select>
    <select id="selectCurrentForUpdate" resultType="cn.iocoder.yudao.module.pms.cutover.dal.dataobject.planv2.CutoverPlanRevisionDO">
        SELECT * FROM cut_plan_revision
        WHERE tenant_id = #{query.tenantId} AND cutover_task_id = #{query.taskId}
          AND current_marker = 1 AND deleted = b'0'
        <if test="query.planRevisionId != null">AND id = #{query.planRevisionId}</if>
        FOR UPDATE
    </select>
    <select id="selectListDirectSuccessors" resultType="cn.iocoder.yudao.module.pms.cutover.dal.dataobject.planv2.CutoverPlanRevisionDO">
        SELECT * FROM cut_plan_revision
        WHERE tenant_id = #{query.tenantId} AND cutover_task_id = #{query.taskId}
          AND source_plan_revision_id = #{query.sourcePlanRevisionId} AND deleted = b'0'
        ORDER BY revision_no ASC, id ASC
    </select>
    <select id="selectListHistory" resultType="cn.iocoder.yudao.module.pms.cutover.dal.dataobject.planv2.CutoverPlanRevisionDO">
        SELECT * FROM cut_plan_revision
        WHERE tenant_id = #{query.tenantId} AND cutover_task_id = #{query.taskId} AND deleted = b'0'
        ORDER BY revision_no ASC, id ASC
    </select>
    <select id="selectMaxRevisionNo" resultType="java.lang.Integer">
        SELECT COALESCE(MAX(revision_no), 0) FROM cut_plan_revision
        WHERE tenant_id = #{query.tenantId} AND cutover_task_id = #{query.taskId}
    </select>
    <update id="replaceDraftIfMatch">
        UPDATE cut_plan_revision
        SET edit_mode_code = #{query.editModeCode},
            content_snapshot = CASE WHEN #{query.contentSnapshot} IS NULL THEN NULL
                ELSE CAST(#{query.contentSnapshot} AS JSON) END,
            file_artifact_id = #{query.fileArtifactId},
            file_version_no = #{query.fileVersionNo},
            file_reference_key = #{query.fileReferenceKey},
            file_fact_version = CASE WHEN #{query.fileFactVersion} IS NULL THEN NULL
                ELSE CAST(#{query.fileFactVersion} AS JSON) END,
            file_scope_version = #{query.fileScopeVersion},
            file_sha256 = #{query.fileSha256},
            ownership_confirmed = #{query.ownershipConfirmed},
            version = #{query.newVersion},
            updater = #{query.updater},
            update_time = #{query.updateTime}
        WHERE tenant_id = #{query.tenantId} AND id = #{query.planRevisionId}
          AND status_code = 'DRAFT' AND current_marker = 1
          AND version = #{query.expectedVersion} AND deleted = b'0'
    </update>
    <update id="advanceDraftVersionIfMatch">
        UPDATE cut_plan_revision SET version = #{query.newVersion}, update_time = NOW(3)
        WHERE tenant_id = #{query.tenantId} AND id = #{query.planRevisionId}
          AND status_code = 'DRAFT' AND current_marker = 1 AND version = #{query.expectedVersion} AND deleted = b'0'
    </update>
    <update id="submitDraftIfMatch">
        UPDATE cut_plan_revision
        SET status_code = 'SUBMITTED',
            submitted_by = #{query.submittedBy},
            submitted_at = #{query.submittedAt},
            approval_instance_id = #{query.approvalInstanceId},
            approval_version = #{query.approvalVersion},
            version = #{query.newVersion},
            updater = #{query.submittedBy},
            update_time = #{query.submittedAt}
        WHERE tenant_id = #{query.tenantId} AND id = #{query.planRevisionId}
          AND status_code = 'DRAFT' AND current_marker = 1
          AND version = #{query.expectedVersion} AND deleted = b'0'
    </update>
    <update id="invalidateSubmittedIfMatch">
        UPDATE cut_plan_revision
        SET status_code = 'INVALIDATED',
            current_marker = NULL,
            approval_version = #{query.newApprovalVersion},
            invalidated_by = #{query.invalidatedBy},
            invalidated_at = #{query.invalidatedAt},
            invalidation_reason_code = #{query.reasonCode},
            version = #{query.newVersion},
            updater = #{query.invalidatedBy},
            update_time = #{query.invalidatedAt}
        WHERE tenant_id = #{query.tenantId} AND id = #{query.planRevisionId}
          AND status_code = 'SUBMITTED' AND current_marker = 1
          AND version = #{query.expectedVersion}
          AND approval_version = #{query.expectedApprovalVersion}
          AND deleted = b'0'
    </update>
</mapper>
