<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.pms.engineering.dal.mysql.completion.SolutionCompletionMapper">
  <select id="one" resultType="cn.iocoder.yudao.module.pms.engineering.dal.dataobject.solution.SolutionDO">
    SELECT * FROM sol_eng_solution WHERE tenant_id = #{query.tenantId} AND project_id = #{query.projectId}
      AND id = #{query.objectId} AND deleted = 0 AND solution_type = 'IMPLEMENTATION' AND status NOT IN (5, 6)
    <if test="query.lock">FOR UPDATE</if>
  </select>
</mapper>
