<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.pms.platform.dal.mysql.collection.CollectionTaskMapper">

    <select id="selectByTenantAndPlatformTaskId"
            resultType="cn.iocoder.yudao.module.pms.platform.dal.dataobject.collection.CollectionTaskDO">
        SELECT *
        FROM plt_collection_task
        WHERE tenant_id = #{tenantId}
          AND platform_task_id = #{platformTaskId}
          AND deleted = b'0'
    </select>

    <update id="updateDispatchState">
        UPDATE plt_collection_task
        SET status = #{update.status},
            technical_stage = #{update.technicalStage},
            external_task_id = #{update.externalTaskId},
            external_status = #{update.externalStatus},
            failure_category = #{update.failureCategory}
        WHERE tenant_id = #{update.tenantId}
          AND platform_task_id = #{update.platformTaskId}
          AND technical_stage = #{update.expectedTechnicalStage}
          AND deleted = b'0'
    </update>

    <select id="selectListByBatchId"
            resultType="cn.iocoder.yudao.module.pms.platform.dal.dataobject.collection.CollectionTaskDO">
        SELECT *
        FROM plt_collection_task
        WHERE batch_id = #{batchId}
          AND deleted = b'0'
        ORDER BY id
    </select>
</mapper>
