<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.pms.platform.dal.mysql.collection.CollectionResultConsumptionMapper">

    <select id="selectExisting"
            resultType="cn.iocoder.yudao.module.pms.platform.dal.dataobject.collection.CollectionResultConsumptionDO">
        SELECT *
        FROM plt_collection_result_consumption
        WHERE tenant_id = #{query.tenantId}
          AND platform_task_id = #{query.platformTaskId}
          AND consumer_context = #{query.consumerContext}
          AND consumer_object_type = #{query.consumerObjectType}
          AND consumer_object_id = #{query.consumerObjectId}
          AND result_version = #{query.resultVersion}
          AND deleted = b'0'
    </select>
</mapper>
