<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.pms.commerce.dal.mysql.order.SalesOrderLineMapper">
    <select id="selectBySourceForUpdate"
            resultType="cn.iocoder.yudao.module.pms.commerce.dal.dataobject.order.SalesOrderLineDO">
        SELECT * FROM com_sales_order_line
        WHERE tenant_id = #{query.tenantId}
          AND source_system = #{query.sourceSystem}
          AND source_record_key = #{query.sourceRecordKey}
          AND deleted = 0
        FOR UPDATE
    </select>

    <select id="selectByCompanyScope"
            resultType="cn.iocoder.yudao.module.pms.commerce.dal.dataobject.order.SalesOrderLineDO">
        SELECT * FROM com_sales_order_line
        WHERE tenant_id = #{query.tenantId}
          AND deleted = 0
          AND CAST(company_code AS BINARY) IN
          <foreach collection="query.companyCodes" item="companyCode" open="(" separator="," close=")">
              CAST(#{companyCode} AS BINARY)
          </foreach>
        <if test="query.orderId != null">
          AND order_id = #{query.orderId}
        </if>
        <if test="query.lineNo != null and query.lineNo != ''">
          AND line_no = #{query.lineNo}
        </if>
        ORDER BY order_id, line_no, id
        LIMIT #{query.offset}, #{query.limit}
    </select>
</mapper>
